clientasm/src/main/java/com/example/demo/Service/Rating/rating_service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.example/" name="RatingServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.example/" schemaLocation="http://localhost:9000/rating_service?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="store">
<part name="parameters" element="tns:store"/>
</message>
<message name="storeResponse">
<part name="parameters" element="tns:storeResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="getByPlaceId">
<part name="parameters" element="tns:getByPlaceId"/>
</message>
<message name="getByPlaceIdResponse">
<part name="parameters" element="tns:getByPlaceIdResponse"/>
</message>
<portType name="RatingService">
<operation name="update">
<input wsam:Action="http://Service.example/RatingService/updateRequest" message="tns:update"/>
<output wsam:Action="http://Service.example/RatingService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="store">
<input wsam:Action="http://Service.example/RatingService/storeRequest" message="tns:store"/>
<output wsam:Action="http://Service.example/RatingService/storeResponse" message="tns:storeResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://Service.example/RatingService/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://Service.example/RatingService/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://Service.example/RatingService/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://Service.example/RatingService/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="getByPlaceId">
<input wsam:Action="http://Service.example/RatingService/getByPlaceIdRequest" message="tns:getByPlaceId"/>
<output wsam:Action="http://Service.example/RatingService/getByPlaceIdResponse" message="tns:getByPlaceIdResponse"/>
</operation>
</portType>
<binding name="RatingServicePortBinding" type="tns:RatingService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="store">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByPlaceId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RatingServiceService">
<port name="RatingServicePort" binding="tns:RatingServicePortBinding">
<soap:address location="http://localhost:9000/rating_service"/>
</port>
</service>
</definitions>